{% extends "templates/app.twig" %} {% block stil %} {% endblock stil %} {% block
naslov %}
<div class="row">
  <div class="col">
    <h1>
      <i class="fas fa-calendar-check text-secondary"></i>
      Pregled termina -
      <small
        >[
        <i class="{{ termin.statusIkonica() }}"></i>

        <span>
          {% if termin.status() == 0 %} Termin u pripremi {% endif %} {% if
          termin.status() == 1 %} Zaključen termin {% endif %} {% if
          termin.status() == 2 %} Informacija o terminu {% endif %}
        </span>

        ]</small
      >
    </h1>
  </div>
  <div class="col text-right">
    <div class="btn-group btn-group-sm mt-3">
      <a href="#" class="btn btn-secondary" onclick="window.history.back();"
        ><i class="fas fa-chevron-circle-left"></i> Nazad</a
      >
      <a
        href="{{ path_for('vlasnik.kalendar', { datum: termin.datum }) }}"
        class="btn btn-secondary"
        ><i class="fas fa-arrow-alt-circle-left"></i> Termini</a
      >
    </div>
  </div>
</div>
<div class="table-responsive mt-3">
  <table class="table">
    <tbody>
      <tr>
        <th class="w-10">Sala</th>
        <td class="w-90">{{ termin.sala().naziv }}</td>
      </tr>
      <tr>
        <th>Vreme</th>
        <td>
          {{ termin.datum|date() }} od {{ termin.pocetak|date("H:i") }} do
          {{ termin.kraj|date("H:i") }}
        </td>
      </tr>
      <tr>
        <th>Tip / vrsta</th>
        <td>{{ termin.tip().tip }}</td>
      </tr>
      <tr>
        <th>Kratak opis</th>
        <td>{{ termin.opis }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>
      <i class="fas fa-file-signature text-secondary"></i> Ugovori vezani za termin
    </h2>
  </div>
</div>
<div class="row">
<div class="col-lg-8 table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="w-5">ID</th>
        <th class="w-10">Broj</th>
        <th class="w-15 text-right">Iznos</th>
        <th class="w-15 text-right">Dug</th>
        <th class="w-20">Ime</th>
        <th class="w-15">Br mesta</th>
        <th class="w-10">Datum</th>
        <th class="w-10 text-right">
          <i class="fas fa-cogs text-warning"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for ugovor in termin.ugovori() %}
      <tr>
        <th>{{ ugovor.id }}</th>
        <td>{{ ugovor.broj_ugovora }}</td>
        <td class="text-info text-right">
          <strong>{{ ugovor.iznos | number_format }}</strong>
        </td>
        <td
          class="{{
            ugovor.uplateDug() > 0 ? 'text-danger' : 'text-success'
          }} text-right"
        >
          <strong>{{ ugovor.uplateDug() | number_format }}</strong>
        </td>
        <td>{{ ugovor.punoIme() }}</td>
        <td>
          {{ ugovor.broj_mesta }} ({{ ugovor.broj_stolova }}/{{
            ugovor.broj_mesta_po_stolu
          }})
        </td>
        <td>{{ ugovor.datum|date() }}</td>
        <td class="text-right">
          <div class="btn-group btn-group-sm">
            <a
              class="btn btn-success"
              href="{{
                path_for('vlasnik.ugovor.detalj', { id: ugovor.id })
              }}"
              title="Detaljni pregled odabranog ugovora"
            >
              <i class="fas fa-eye"></i>
            </a>
            <a
              class="btn btn-info btn-sm"
              href="{{ path_for('ugovor.uplate.lista', { id: ugovor.id }) }}"
              class="btn btn-success"
              ><i class="fas fa-money-bill"></i
            ></a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-lg-4 text-right">
  <h4>Ukupno za termin: {{ termin.cenaTermina() | number_format }}</h4>
  <h5>Slobodni stolovi: {{ termin.slobodniStolovi() }}</h5>
  <h5>Slobodna mesta: {{ termin.slobodnaMesta() }}</h5>
</div>
</div>
</div>
{% endblock naslov %} 
{% block skripta %}
<script>
  $(document).ready(function() {
    $(".otvori-brisanje").on("click", function() {
      var id = "{{ termin.id }}";
      $("#modal-termin-brisanje-id").val(id);
    });

    $(".otvori-brisanje-ugovora").on("click", function() {
      var id = $(this).data("id");
      $("#idBrisanje").val(id);
    });

    $("#modal-obrisi-termin").on("click", function() {
      $("#modal-forma-brisanje-termina").submit();
    });

    $("#modal-obrisi-ugovor").on("click", function() {
      $("#modal-forma-brisanje-ugovora").submit();
    });

    $("#zakljuci-termin").on("click", function(e) {
      e.preventDefault();
      $.post(
        "{{ path_for('termin.zakljucivanje.post') }}",
        {
          termin_id: "{{ termin.id }}",
          csrf_name: document.querySelector(".csrf_name").value,
          csrf_value: document.querySelector(".csrf_value").value
        },
        function(data) {
          data = JSON.parse(data);
          document.querySelector(".csrf_name").value = data.csrf_name;
          document.querySelector(".csrf_value").value = data.csrf_value;
          // promeniti ikonicu i text statusa u h1

          let tekst = "";
          if (data.status === 0) {
            tekst = " Termin u pripremi";
          }
          if (data.status === 1) {
            tekst = " Zaključen termin";
          }
          if (data.status === 2) {
            tekst = " Informacija o terminu";
          }
          $("h1 small span").text(tekst);
          $("h1 small i")
            .removeClass()
            .addClass(data.ikonica);
          if (data.zakljucen) {
            document
              .querySelector("#zauzet")
              .setAttribute("checked", "checked");
          } else {
            document.querySelector("#zauzet").removeAttribute("checked");
          }
        }
      );
    });
  });
</script>
{% endblock skripta %}
