{% extends "templates/app.twig" %} {% block stil %}
<link href="{{ base_url() }}/css/fullcalendar.css" rel="stylesheet" />
<link
  href="{{ base_url() }}/css/fullcalendar.print.css"
  rel="stylesheet"
  media="print"
/>
{% endblock stil %} {% block naslov %}
<h1><i class="fas fa-calendar-check"></i> Zakazivanje termina</h1>
<hr />
<div class="row">
  <div class="col-md-12" id="kalendar"></div>
</div>
{# Modal za dodavanje dogadjaja #}
<div id="zakaziModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-success">
          Zakazivanje termina
        </h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="{{ path_for('termin.dodavanje.post') }}"
          method="POST"
          id="forma-dodavanje-termina"
        >
          {{ csrf | raw }}
          <div class="form-row">
            <div class="form-group col-lg-3">
              <label for="sala">Sala</label>
              <select name="sala" id="sala" class="custom-select">
                {% for sala in sale %}
                <option value="{{ sala.id }}">{{ sala.naziv }}</option>
                {% endfor %}
              </select>
              <small
                class="form-text{{ errors.sala[0] ? ' is-invalid' : '' }}"
                >{{ errors.sala[0] }}</small
              >
            </div>
            <div class="form-group col-lg-3">
              <label for="datum">Datum</label>
              <input type="date" id="datum" class="form-control" />
              <small
                class="form-text{{ errors.datum[0] ? ' is-invalid' : '' }}"
                >{{ errors.datum[0] }}</small
              >
            </div>
            <div class="form-group col-lg-3">
              <label for="pocetak">Početak</label>
              <input type="time" id="pocetak" class="form-control" />
              <small
                class="form-text{{ errors.pocetak[0] ? ' is-invalid' : '' }}"
                >{{ errors.pocetak[0] }}</small
              >
            </div>
            <div class="form-group col-lg-3">
              <label for="kraj">Kraj</label>
              <input type="time" id="kraj" class="form-control" />
              <small
                class="form-text{{ errors.kraj[0] ? ' is-invalid' : '' }}"
                >{{ errors.kraj[0] }}</small
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="opis">Kratak opis događaja</label>
              <input type="text" id="opis" class="form-control" />
              <small
                class="form-text{{ errors.opis[0] ? ' is-invalid' : '' }}"
                >{{ errors.opis[0] }}</small
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="napomena">Napomena</label>
              <textarea
                type="text"
                id="napomena"
                class="form-control"
              ></textarea>
              <small
                class="form-text{{ errors.napomena[0] ? ' is-invalid' : '' }}"
                >{{ errors.napomena[0] }}</small
              >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="btn-modal-dodavanje-submit"
          class="btn btn-info"
          title="Snimanje novog termina"
        >
          <i class="fas fa-plus-square"></i> Upiši termin
        </button>
        <button
          id="btn-modal-dodavanje-cancel"
          class="btn btn-outline-warning"
          data-dismiss="modal"
        >
          <i class="fas fa-ban"></i> Otkaži
        </button>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za dodavanje dogadjaja #} {% endblock naslov %} {% block skripta
%}
<script src="{{ base_url() }}/js/moment.min.js"></script>
<script src="{{ base_url() }}/js/fullcalendar.min.js"></script>
<script src="{{ base_url() }}/js/sr.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#kalendar").fullCalendar({
      themeSystem: "bootstrap4",
      customButtons: {
        myCustomButton: {
          text: "Štampaj",
          click: function() {
            window.print();
          }
        }
      },
      header: {
        left: "prev,next today myCustomButton",
        center: "title",
        right: "month,agendaWeek,agendaDay,listDay"
      },
      views: {
        month: {
          columnFormat: "dddd"
        }
      },
      defaultView: "month",
      weekends: true,
      height: 630,
      dayNames: [
        "nedelja",
        "ponedeljak",
        "utorak",
        "sreda",
        "četvrtak",
        "petak",
        "subota"
      ],
      dayNamesShort: [
        "nedelja",
        "ponedeljak",
        "utorak",
        "sreda",
        "četvrtak",
        "petak",
        "subota"
      ],
      monthNames: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      monthNamesShort: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      dayClick: function(date, jsEvent, view) {
        // Pozivam unos termina sa datumom. Na termin rutu dodati datum kao argument
        // U dodavanju termina prebacim datum iz rute u datum input
        let loc = `{{ url_termin_dodavanje }}/${date.format()}`;
        window.location = loc;
      }
    });

    var cal = $("#kalendar").fullCalendar("getCalendar");
    // Citam poslednjih 10 karaktera iz trenutne rute
    var d = window.location.href.substr(-10);
    // Trazim crticu
    var crtica = d.search("-");
    // Ako postoji crtica onda je verovatno datum :)
    if (crtica !== -1) {
      // Pravim datum iz kalendarovog momenta
      var datum = cal.moment(d);
      // Teram kalendar na datum (vraca se na mesec odakle je unet termin)
      cal.gotoDate(datum);
      // Opciono selektujem datum
      cal.select(datum);
    }

    document
      .getElementById("btn-modal-dodavanje-submit")
      .addEventListener("click", e => {
        document.getElementById("forma-dodavanje-termina").submit();
      });
  });
</script>
{% endblock skripta %}
