{% extends "templates/app.twig" %}
{% block naslov %}
<div class="d-none d-sm-block">
	{% if auth.logged %}
	{% if auth.user.nivo == 0 %}
	{% if podsetnik|length > 1 %}
	<div class="mt-5 alert alert-danger" role="alert">
  		Postoji {{podsetnik|length}} termin/a koji su kreirani pre 15 ili više dana, a nisu zakazani niti odloženi!&emsp; 
  		<a href="{{ path_for('termin.isticu') }}" class="btn btn-secondary">Pregled termina kojima ističe ili je već istekla rezervacija</a>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	<div class="row mt-5">
		<div class="col text-center">
			<img src="{{ base_url() }}/img/EEC-logo-znak.png" alt="logo EEC" class="img-fluid w-15">
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<img src="{{ base_url() }}/img/EEC-logo-tekst.png" alt="logo EEC" class="img-fluid w-40">
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<h4 class="display-4">Sistem za zakazivanje i pomoć u organizovanju događaja</h4>
		</div>
	</div>
</div>
{# Mobilni telefoni #}
<div class="d-sm-none">
	{% if auth.logged %}
	{% if auth.user.nivo == 0 %}
	{% if podsetnik|length > 1 %}
	<div class="mt-5 alert alert-danger" role="alert">
  		Postoji {{podsetnik|length}} termin/a koji su kreirani pre 15 ili više dana, a nisu zakazani niti odloženi!&emsp; 
  		<a href="{{ path_for('termin.isticu') }}" class="btn btn-secondary">Pregled termina kojima ističe ili je već istekla rezervacija</a>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	<div class="row mt-5">
		<div class="col text-center">
			<img src="{{ base_url() }}/img/EEC-logo-znak.png" alt="logo EEC" class="img-fluid w-30">
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<img src="{{ base_url() }}/img/EEC-logo-tekst.png" alt="logo EEC" class="img-fluid w-80">
		</div>
	</div>
	<div class="row mt-5">
		<div class="col text-center">
			<p class="large">Sistem za zakazivanje i pomoć u organizovanju događaja</p>
		</div>
	</div>
</div>
{% endblock naslov %}
