{% extends "templates/app.twig" %} {% block stil %}
<link href="{{ base_url() }}/css/fullcalendar.css" rel="stylesheet" />
<link href="{{ base_url() }}/css/fullcalendar.print.css" rel="stylesheet" media="print" />
{% endblock stil %} {% block naslov %}
<div class="row mt-md-5">
  <div class="col">
    <h1>
      <i class="fas fa-calendar-check text-secondary"></i> Pregled zakazanih termina</h1>
    </h1>
  </div>
  <div class="col">
    <ul>
  <li><h5><i class="fas fa-calendar-minus" style="color: #0275d8"></i>&emsp;Zatražena informacija o terminu!</h5></li>
  <li><h5><i class="fas fa-calendar-plus" style="color: #5cb85c"></i>&emsp;Započeti pregovori o terminu!</h5></li>
  <li><h5><i class="fas fa-calendar-check" style="color: #d9534f"></i>&emsp;Termin je zauzet!</h5></li>
</ul>
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-12" id="kalendar"></div>
</div>
{% endblock naslov %} {% block skripta %}
<script src="{{ base_url() }}/js/moment.min.js"></script>
<script src="{{ base_url() }}/js/fullcalendar.min.js"></script>
<script src="{{ base_url() }}/js/sr.js"></script>

<script type="text/javascript">
  
    $(document).ready(function() {

    var naslovi = {{naslovie|raw}};
    var idijevi = {{idijevie|raw}};
    var datumi = {{datumie|raw}};
    var poceci = {{pocecie|raw}};
    var krajevi = {{krajevie|raw}};
    var detalji = {{detaljie|raw}};

    console.log(detalji);

    var duzina = idijevi.length;
    var dogadjaji = [];

    for (var i = 0; i < duzina; i++) {
    var idd = idijevi[i];
    var naslov = naslovi[i];
    var pocetak = moment(datumi[i]).add(moment.duration(poceci[i]).asSeconds(), 's');
    var kraj = moment(datumi[i]).add(moment.duration(krajevi[i]).asSeconds(), 's');
    var detalj = detalji[i];
    var dodajDogadjaj = {};
    dodajDogadjaj = {
        id: idd,
        title: naslov,
        start: pocetak,
        end: kraj,
        description: detalj
    }
    dogadjaji.push(dodajDogadjaj);
    }

$("#kalendar").fullCalendar({
      themeSystem: "bootstrap4",
      customButtons: {
        myCustomButton: {
          text: "Štampaj",
          click: function() {
            window.print();
          }
        }
      },
      header: {
        left: "prev,next today myCustomButton",
        center: "title",
        right: "month,agendaWeek,agendaDay,listDay"
      },
      views: {
        month: {
          columnFormat: "dddd"
        }
      },
      defaultView: "month",
      weekends: true,
      height: 630,
      events:dogadjaji,
      slotEventOverlap:false,
      slotDuration:'01:00:00',
      minTime:'07:00:00',
      eventBackgroundColor: "#FFFFFF",
      eventBorderColor: "#f0ad4e",
      eventTextColor: "#f0ad4e",
      eventRender: function (event, element, view) {
        // if(event.description == 0) 
        //         {
        //             element.css('background-color', '#d9534f');
        //         }else if(event.description == 1){
        //             element.css('background-color', '#5cb85c');
        //         }else{
        //             element.css('background-color', '#292b2c');
        //         }
        element.find('.fc-list-item-title').html(event.title); 
        var title = element.find( '.fc-title' );
        title.html( title.text() );
        title.attr('style', 'font-size: 1.3em !important');
        $(element).css("margin-top", "5px");
        element.find('.fc-title').append('<hr style="margin: 5px 0;"><span style="font-size: 12px">' + event.description + '</span></div>');
        },
      dayNames: ["nedelja", "ponedeljak", "utorak", "sreda", "četvrtak", "petak", "subota"],
      dayNamesShort: ["nedelja", "ponedeljak", "utorak", "sreda", "četvrtak", "petak", "subota"],
      monthNames: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      monthNamesShort: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      dayClick: function(date, jsEvent, view) {}
    });
  });
</script>
{% endblock skripta %}
