{% extends "templates/app.twig" %} {% block stil %}
<link href="{{ base_url() }}/css/fullcalendar.css" rel="stylesheet" />
<link
  href="{{ base_url() }}/css/fullcalendar.print.css"
  rel="stylesheet"
  media="print"
/>
{% endblock stil %} {% block naslov %}
<h1 class="text-center display-1">
  <i class="fas fa-calendar-check"></i> Kalendar
</h1>
<hr />
<div class="row">
  <div class="col-md-12" id="kalendar"></div>
</div>
{# Modal za dodavanje dogadjaja #}
<div id="zakaziModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">
          Dodavanje događaja - rezervacija
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="izmena-forma" action="" method="POST">
          {{ csrf | raw }}
          <div class="form-group">
            <label for="datum">Datum:</label>
            <input
              type="date"
              id="datum"
              name="datum"
              min="2018-01-01"
              max="2020-12-31"
            />
          </div>

          <div class="form-group">
            <label for="pocetak">Početak:</label>
            <input
              type="time"
              id="pocetak"
              name="pocetak"
              min="09:00"
              max="18:00"
              required
            />
            <small>Od 9am do 6pm npr.</small>
          </div>

          <div class="form-group">
            <label for="kraj">Kraj:</label>
            <input
              type="time"
              id="kraj"
              name="kraj"
              min="22:00"
              max="24:00"
              required
            />
            <small>Od 10pm do 12pm</small>
          </div>
          <hr style="margin-top: 30px;" />
          <div
            class="row justify-content-end"
            style="margin-top: 30px; padding: 10px;"
          >
            <div class="form-group">
              <a class="btn btn-outline-secondary" data-dismiss="modal">
                <i class="fas fa-ban"></i>&emsp;Otkaži
              </a>
              <button
                id="btn-brisanje-izmeni"
                type="submit"
                class="btn btn-outline-success"
              >
                <i class="fas fa-edit"></i>&emsp;Dodaj
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za dodavanje dogadjaja #} {% endblock naslov %} {% block skripta
%}
<script src="{{ base_url() }}/js/moment.min.js"></script>
<script src="{{ base_url() }}/js/fullcalendar.min.js"></script>
<script src="{{ base_url() }}/js/sr.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#kalendar").fullCalendar({
      themeSystem: "bootstrap4",
      customButtons: {
        myCustomButton: {
          text: "Štampaj",
          click: function() {
            window.print();
          }
        }
      },
      header: {
        left: "prev,next today myCustomButton",
        center: "title",
        right: "month,agendaWeek,agendaDay,listDay"
      },
      views: {
        month: {
          columnFormat: "dddd"
        }
      },
      defaultView: "month",
      weekends: true,
      height: 630,
      dayNames: [
        "nedelja",
        "ponedeljak",
        "utorak",
        "sreda",
        "četvrtak",
        "petak",
        "subota"
      ],
      dayNamesShort: [
        "nedelja",
        "ponedeljak",
        "utorak",
        "sreda",
        "četvrtak",
        "petak",
        "subota"
      ],
      monthNames: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      monthNamesShort: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      dayClick: function(date, jsEvent, view) {
        $(this).css("background-color", "#f0ad4e");

        $("#zakaziModal").modal("show");
        $("#datum").val(date.format());
      }
    });
  });
</script>
{% endblock skripta %}
