{% extends "templates/app.twig" %} 
{% block naslov %}
<div class="row mt-md-5">
  <div class="col">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Izmena podataka menija
    </h1>
  </div>
  <div class="col justify-content-end text-right">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back();" title="Povratak na prethodnu stranu"><i
          class="fas fa-chevron-circle-left"></i> Nazad</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm" title="Povratak na tabelarni prikaz menija"><i class="fas fa-drumstick-bite"></i> SVI
        meniji</a>
    </div>
  </div>
</div>
<hr />
<div class="card border-dark mb-3">
  <div class="card-header text-warning">* Ako navodite više stavki u nekoj od kategorija razdvojite ih zarezom.</div>
  <div class="card-body text-dark">
    <form action="{{ path_for('meni.izmena.post') }}" method="POST">
      {{ csrf|raw }}
      <input type="hidden" name="id" id="id" value="{{ meni.id }}" required>
      <div class="form-row">
        <div class="form-group col">
          <label for="naziv">Naziv</label>
          <input type="text" class="form-control" value="{{ old.naziv ? : meni.naziv }}"
          name="naziv" id="naziv" aria-describedby="naziv sale" required>
          <small id="greska" class="form-text text-muted">Ovde ćemo da šinemo gresku!</small>
        </div>
        <div class="form-group col">
          <label for="napomena">Napomena</label>
          <textarea class="form-control" name="napomena" id="napomena"
          rows="3">{{ old.napomena ? : meni.napomena }}</textarea>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col">
          <label for="hleb"><i class="fas fa-bread-slice text-warning"></i> <strong>Hleb</strong></label>
          <textarea class="form-control" name="hleb" id="hleb"
          rows="3">{{ old.hleb ? : meni.hleb }}</textarea>
        </div>
        <div class="col">
          <label for="hladno_predjelo"><i class="fas fa-bacon text-warning"></i> <strong>Hladno
              predjelo</strong></label>
          <textarea class="form-control" name="hladno_predjelo" id="hladno_predjelo"
          rows="3">{{ old.hladno_predjelo ? : meni.hladno_predjelo }}</textarea>
        </div>
        <div class="col">
          <label for="sirevi"><i class="fas fa-cheese text-warning"></i> <strong>Sirevi</strong></label>
          <textarea class="form-control" name="sirevi" id="sirevi"
          rows="3">{{ old.sirevi ? : meni.sirevi }}</textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="corba"><i class="fas fa-utensil-spoon text-warning"></i> <strong>Čorba</strong></label>
          <textarea class="form-control" name="corba" id="corba"
          rows="3">{{ old.corba ? : meni.corba }}</textarea>
        </div>
        <div class="col">
          <label for="glavno_jelo"><i class="fas fa-utensils text-warning"></i> <strong>Glavno jelo</strong></label>
          <textarea class="form-control" name="glavno_jelo" id="glavno_jelo"
          rows="3">{{ old.glavno_jelo ? : meni.glavno_jelo }}</textarea>
        </div>
        <div class="col">
          <label for="meso"><i class="fas fa-drumstick-bite text-warning"></i> <strong>Meso</strong></label>
          <textarea class="form-control" name="meso" id="meso"
          rows="3">{{ old.meso ? : meni.meso }}</textarea>
        </div>
      </div>
      <div class="form-row justify-content-between">
        <div class="col-4">
          <label for="karta_pica"><i class="fas fa-wine-glass text-warning"></i> <strong>Karta pića</strong></label>
          <textarea class="form-control" name="karta_pica" id="karta_pica"
          rows="3">{{ old.karta_pica ? : meni.karta_pica }}</textarea>
        </div>
        <div class="col-4 text-right align-self-end">
          <button type="submit" class="btn btn-info" title="Izmeni meni"><i class="fas fa-plus-square"></i> &emsp;Izmeni</button>
          <a href="{{ path_for('meni') }}" class="btn btn-outline-warning"><i class="fas fa-ban"></i> &emsp;Otkaži</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock naslov %}