{% extends "templates/app.twig" %} 
{% block naslov %}
<div class="row mt-md-5 ne_stampaj">
  <div class="col">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled menija - <strong
        class="text-capitalize text-warning"> {{ meni.naziv }}</strong>
    </h1>
  </div>
  <div class="col justify-content-end text-right mt-3">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back();" title="Povratak na prethodnu stranu"><i
          class="fas fa-chevron-circle-left"></i> Nazad</button>
      <a href="{{ path_for('meni') }}" class="btn btn-secondary btn-sm" title="Povratak na tabelarni prikaz menija"><i class="fas fa-drumstick-bite"></i> SVI
        meniji</a>
      <button type="button" class="btn btn-secondary btn-sm" title="Štampanje menija" onclick="window.print();">
      <i class="fas fa-print"></i> Štampaj</button>
    </div>
  </div>
</div>
<hr class="ne_stampaj" />
<div class="row justify-content-center mt-4 mb-2 prikazi" style="visibility: hidden">
  <h1>
      <strong class="text-capitalize"> {{ meni.naziv }} meni</strong>
  </h1>
</div>
<div class="row justify-content-center">
  <div class="col-5 bg-light text-dark">
    <h3 class="font-italic">Hladno predjelo</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.hladno_predjelo|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    <h3 class="font-italic">Sirevi</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.sirevi|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    <h3 class="font-italic">Čorba</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.corba|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    <h3 class="font-italic">Glavno jelo</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.glavno_jelo|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-5 bg-light text-dark">
    <h3 class="font-italic">Meso</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.meso|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    <h3 class="font-italic">Hleb</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.hleb|split(',')%}
    <ul>
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
    <h3 class="font-italic">Karta pića</h3>
    <hr style="border-top: 1px dotted #8c8b8b">
    {% set predjela = meni.karta_pica|split(',')%}
    <ul class="mb-4">
      {% for p in predjela %}
      <li>{{p}}</li>
      {% endfor %}
    </ul>
  </div>
  </div>
    <div class="row justify-content-center mt-4 ne_stampaj">
      <div class="col-6">
        <div class="card border-warning text-center">
          <div class="card-header">Napomena:</div>
          <div class="card-body text-warning">
            <p class="card-text">{{ meni.napomena }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock naslov %}

