{% extends "templates/app.twig" %} 
{% block naslov %}
<div class="row mt-md-5">
  <div class="col">
    <h1>
      <i class="fas fa-drumstick-bite text-secondary"></i> Pregled dostupnih menija
    </h1>
  </div>
  <div class="col justify-content-end text-right">
    <a href="{{ path_for('meni.dodavanje.get') }}" class="btn btn-info mt-3">
      <i class="fas fa-plus-square"></i>&emsp;Dodaj novi meni
    </a>
  </div>
</div>
<hr />
<div class="table-responsive">
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th class="w-3" scope="col">#</th>
      <th class="w-11" scope="col">Naziv</th>
      <th class="w-7" scope="col">Cena</th>
      <th class="w-10" scope="col">Hladno predjelo</th>
      <th class="w-10" scope="col">Sirevi</th>
      <th class="w-11" scope="col">Čorba</th>
      <th class="w-11" scope="col">Glavno jelo</th>
      <th class="w-10" scope="col">Meso</th>
      <th class="w-10" scope="col">Hleb</th>
      <th class="w-10" scope="col">Karta pića</th>
      <th class="w-7" scope="col" style="text-align:right;"><i class="fas fa-cogs text-warning"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for me in meni.data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td><strong class="text-info napomena_tool" data-toggle="napomena_tool" 
        title="Napomena:" data-content="{{ me.napomena }}">
                    {{ me.naziv }}
          </strong>
      </td>
      <td class="text-success">{{ me.cena|number_format(2, '.', ',')}}</td>
      <td><small>{{ me.hladno_predjelo|nl2br }}</small></td>
      <td><small>{{ me.sirevi|nl2br }}</small></td>
      <td><small>{{ me.corba|nl2br }}</small></td>
      <td><small>{{ me.glavno_jelo|nl2br }}</small></td>
      <td><small>{{ me.meso|nl2br }}</small></td>
      <td><small>{{ me.hleb|nl2br }}</small></td>
      <td><small>{{ me.karta_pica|nl2br }}</small></td>
      <td style="text-align:right;">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-info btn-sm" href="{{ path_for('meni.detalj', { id: me.id }) }}" title="Detaljni pregled odabranog menija"><i
              class="fas fa-eye"></i></a>
          <a class="btn btn-success btn-sm" href="{{ path_for('meni.izmena.get', { id: me.id }) }}" title="Izmena odabranog menija"><i
              class="fas fa-edit"></i></a>
          <button class="btn btn-warning btn-sm otvori-brisanje" data-toggle="modal" data-target="#brisanjeModal"
            data-id="{{ me.id }}" title="Brisanje odabranog menija">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="row">
  <nav class="col">
    <ul class="pagination pagination-sm">
      {% for button in meni.links.buttons %}
      <li class="page-item{{ button.current ? ' active' : '' }}">
        <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <p class="col justify-content-end text-right text-info"><strong>
      Prikazani redovi od
      <em>{{ meni.links.row_from }}</em> do
      <em>{{ meni.links.row_to }}</em> od ukupno
      <em>{{ meni.links.total_rows }}</em>
    </strong>
  </p>
</div>
{# Modal za brisanje #}
  <div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Upozorenje!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Da li želite trajno da obrišete meni?</h3>
          <p class="text-danger">* Ova akcija je nepovratna!</p>
          <form id="brisanje-forma" action="{{ path_for('meni.brisanje') }}" method="POST">
            {{ csrf|raw }}
            <input type="hidden" id="idBrisanje" name="idBrisanje">
            <hr style="margin-top: 30px;">

            <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
              <div class="form-group">
                <button id="btn-brisanje-obrisi" type="submit" class="btn btn-outline-warning">
                  <i class="fas fa-trash-alt"></i>&emsp;Obriši
                </button>
                <a class="btn btn-outline-secondary" data-dismiss="modal">
                  <i class="fas fa-ban"></i>&emsp;Otkaži
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {# Kraj modala za brisanje #}
{% endblock naslov %}
{% block skripta %}
  <script>
    $(document).ready(function () {

      $('.napomena_tool').popover({
            placement: 'right',
            trigger: 'hover'
        });

      $(document).on('click', '.otvori-brisanje', function () {
        var id = $(this).data("id");
        $('#idBrisanje').val(id);
      });

    });
  </script>
{% endblock skripta %}


